$('#comments-number').html("<h3><%= escape_javascript(pluralize(@article.comments.size, 'Comment')) %></h3>");
$('#comment_pane').prepend("<%= escape_javascript( render partial:'articles/comment', object:@comment) %>");
$('#comment_content').val('');