<% if @article.errors.any? %>
 <h2>The following errors prevented the article from saving:</h2>
 <ul>
 <% @article.errors.full_messages.each do |msg|%>
 <li><%= msg %></li>
 <% end %>
 </ul>
<% end %>

<%= link_to "Back to List", articles_path %>

<h1>Create Article</h1>

<%= render(:partial => "form") %>